@import 'font-awesome.min.css';
*{margin:0;padding:0;box-sizing:border-box;}
body{padding-top:60px;}
/*a{color:#000;}*/
/*form{margin-top:0;}*/
.alert{margin-top:20px;}
.table{border-radius:5px;font-size:14px;}
.table tbody tr td{font-size:14px;}
.table tbody tr td a{padding:5px;}
.panel .btn{margin-top:5.5px!important;}
.panel .panel-heading .panel-title{padding:4px;}
.btn{margin-right:5px;}

.icon{font-family:'FontAwesome';font-style:normal;}


.form_error{transition:0.3s;border:1px solid red;box-shadow:#ccc 0px 0px 4px 0px;}
.require{transition:0.3s;}
